.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 868px;
  background-color: #23252C;
}

header {
  /* border: 3px solid yellow; */
}

.header--front-image {
  width: 317px;
  height: 317px;
  object-fit:cover;
}

main {
  border: 3px solid yellow;
  width: 317px;
  height: 399px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main--name {
  font-size: 25px;
  text-align: center;
}

.main--title {
  font-size: 13px;
  color: #F3BF99;
  text-align: center;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid yellow;
  width: 115px;
  height: 34px;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}
.button-icons {
  font-size: 16px;
}
.main--description {
  width: 246px;
  height: 201px;
}

footer {
  border: 3px solid yellow;
  width: 317px;
  height: 64px;
}